<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #19989c;">
  <img src = "../../assets/img/default.png" height="50px" width="60px" align = "left" >
    <div class="container">
      <a class="navbar-brand" href="#"> KEEP CONTACT  </a>
    
   
        
        <ul class="navbar-nav mr-auto" *ngIf="connecte">
          <li class="nav-item active">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Connections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#">Deconnection</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="connecte" dropdown>
          <a class="dropdown-toggle text-light">Bienvenu utilisateur</a>
          <div class="dropdown-menu">
            <a class="dropdown-item">Modifier profile</a>
            <a class="dropdown-item" (click)="deconnexion()"></a>
          </div>
        </div>
      
        <form  *ngIf="!connecte" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit) = "connexion()" autocomplete = "off">
                <input 
                    name = "utilisateur"
                    [(ngModel)]="model.utilisateur"
                    class="form-control mr-sm-2" 
                    type="text" 
                    placeholder="Nom utilisateur">
                <input 
                    name="motdepasse"
                    [(ngModel)]="model.motdepasse"
                    class="form-control mr-sm-2" 
                    type="password" 
                    placeholder="Mot de passe">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connexion</button>
        </form>

            
    </div>
  </nav>